<div class="home">
  <h1 class="home-title">{{ title | uppercase }}</h1>
  <ng-container *ngIf="characterList.length; else loading">
    <app-characters-list
      [list]="tableList"
      (handleDelete)="deleteCharacter($event)"
    ></app-characters-list>
    <app-characters-pagination
      [listItems]="characterList"
      [rowsByPage]="numberRowsByPage"
      (handleChange)="changePaginationPage($event)"
    ></app-characters-pagination>
  </ng-container>

  <ng-template #loading>
    <div class="home-loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
